:root {
    --platinum: #e6e8e6ff;
    --timberwolf: #ced0ceff;
    --ash-gray: #9fb8adff;
    --feldgrau: #475841ff;
    --onyx: #3f403fff;
}

/* .d-links {
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
} */
/* 
.d-links li {
    text-align: center;
    display: grid;
	align-items: center;
} */

/* .d-links > div:hover {
    background-color: rgb(208, 208, 208);
} */

.cont-g {
    flex-direction: column;
    justify-content: center;
    /* height: 60vh; */
    margin-top: 6vh;
}

.img {
    height: 30vi;
}

.my-card {
    padding: 0;
}

body {
    /* background-color: var(--onyx); */
}

.my-bd, .img-i{
    height: 100%;
}

.img-i {
    object-fit: cover;
}
